/* general styling  */
body {
  margin: 0;
  padding: 0;
  background-color: #f3f2ee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

span {
  font-size: 13px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

h3 {
  margin: 0;
}

/* navbar styling */

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 1000;
  flex-shrink: 1;
  height: 60px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5vw;
  flex: 30%;
}

.navbar-left > a > img {
  height: 40px;
  width: 40px;
}

.search-box {
  margin-left: 20px;
  position: relative;
  display: inline-block; 
  justify-content: center; 
}

.search-box > input {
  background-color: #ecf3f8;
  justify-self: center;
  align-self: center;
  padding: 0.4vh 3.8vw;
  border-radius: 5px;
  border: none;
  outline: none;
  height: 40px;
  width: 15vw;
  font-weight: 100;
  background-color: rgb(241, 237, 237);
}

.search-icon {
  position: absolute;
  left: 5%;
  top: 25%;
  height: 20px;
  width: 20px;
  font-weight: 1000;
  color: black;
}

#search-box {
  padding-left: 50px;
}

/* Profile menu dropdown */
.profile-menu-wrapper {
  position: absolute;
  top: 100%;
  right: 1vw;
  width: 250px;
  left: 2vw;
  max-height: 400px;
  overflow: hidden;
  transition: max-height 0.5s;
  border-radius: 30px solid grey;
}

.profile-search-menu {
  background-color: white;
  color: black;
  padding: 0.5px 5px;
  margin: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.user-search-info > ul {
  display: flex;
  flex-direction: column;
}

.navbar-center {
  display: flex;
  flex: 30%;
}

.navbar-center > ul {
  display: flex;
  list-style-type: none;
}

.navbar-center > ul > li {
  /* margin-right: 15px; */
  width: 85px;
  margin-top: -12px;
  display: flex;
  flex-direction: column;
}

.navbar-center > ul > li > a {
  display: flex;
  flex-direction: column;
  color: black;
}

.navbar-center > ul > li > a > img {
  height: 35px;
  width: 35px;
  align-self: center;
  font-weight: bold;
}

.navbar-center > ul > li > a > span {
  align-self: center;
  font-weight: 650;
  color: black;
  justify-items: center;
}

.navbar-center > ul > li {
  display: inline-block;  /* adjustable to the screen */
  list-style: none;
}

.navbar-center > ul > li > a {
  display: flex;
  align-items: center;   /* horizontal align */
  font-size: 16px;
  padding-right: 5px;
  position: relative;
}

.navbar-center > ul > li > a::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: #1469f1;
  position: absolute;
  bottom: -8px;
  transition: width 0.4s;
  background-size: 105% 100%;
}

.navbar-center > ul > li > a:hover::after, 
.navbar-center > ul > li > a.active-link::after {
  width: 100%;
}

.navbar-right {
  display: flex;
  align-items: center;
  flex: 25%;
}

.nav-profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 15px;
}

.navbar-right > a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

/* Profile menu dropdown */
.profile-menu-wrap {
  position: absolute;
  border-radius: 30px solid grey;
  top: 100%;
  right: 15vw;
  width: 250px;
  max-height: 400;
  overflow: hidden;
  transition: max-height 0.5s;
}

.profile-menu {
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  color: #fff;
  padding: 12px;
  margin: 10px;
  margin-right: -30vw;
}

.user-info {
  display: flex;
}

.user-info div {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.user-info h3 {
  color: black;
  font-weight: 45px;
}

.user-info b {
  color: black;
  font-size: 13px;
}

.user-info a {
  color: black;
  font-size: 12px;
}
/* navbar styling end */



/* sidebar left menu styling */
.left-sidebar {
  position: fixed;
  padding-left: 8%;
  padding-right: 20px;
  width: 250px;
  top: 80px;
  margin-left: 8px;
  margin-top: 10px;
}

.left-sidebar > div {
  border-radius: 10px;
  padding: 0 4px 0 4px;
  margin-bottom: 5px;
  background-color: white;
  border: 0.5px solid grey;
}

.myImage {
  border: 2px solid white;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-left: 10px;
  margin-top: -40px; 
}

.col-two {
  float: right;
}

.sidebar-profile-box > img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sidebar-profile-box > div {
  padding: 5px;
}

.sidebar-profile-link > p {
  font-size: 10px;
}

.sidebar-profile-link > a {
  font-size: 16px;
  justify-content: center;
}

.sidebar-profile-link > a > img {
  padding-left: 10px;
  height: 15px;
  width: 15px;
}

.sidebar-activity > a {
  display: flex;
  flex-direction: row;
}

.sidebar-activity > a > img {
  height: 22px;
  width: 22px;
}

.main-container {
  display: flex;
  flex: 60%;
}
/* left side bar styling end */


/* main content styling start */
.main-content {
  flex-basis: 35vw;
  align-self: flex-start;
  padding-top: 80px;
  align-items: center;
  margin-left: 34%;
}

.create-post {
  margin-top: 10px;
  border-radius: 10px;
  background: white;
  border: 0.5px solid grey;
}

.create-post-input {
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}

.create-post-input img {
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.create-post-input textarea {
  font-family: sans-serif;
  margin-top: -10px;
  width: 100%;
  resize: none;
  background: transparent;
  border-radius: 30px;
  padding: 15px 0 0 10px;
}

.create-post-input textarea:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

::placeholder {
  font-weight: bold;
}

.create-post-links {
  display: flex;
  align-items: flex-start;
}

.create-post-links li {
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-post-links li img {
  width: 15px;
  margin-right: 5px;
}

.create-post-links li:last-child {
  background: #1469f1;
  color: #fff;
  border-top: 0;
  border-right: 0;
}

input[type="file"] {
  display: none;
}

.file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.sort-by {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.sort-by hr {
  flex: 1;
  border: 0;
  height: 1px;
  background: #ccc;
}

.sort-by p {
  font-size: 12px;
  padding-left: 4px;
}

.sort-by p span {
  font-weight: 500;
  cursor: pointer;
}

.sort-by p span img {
  width: 12px;
  margin-left: 2px;
}

.post {
  /* border: 1px solid grey; */
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 20px 0 10px 0;
  border: 0.5px solid grey;
}

.post > img {
  height: 280px;
}

.post-author {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; 
}

.post-author img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.post-author h1 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.post-author small {
  display: block;
  margin-bottom: -2px;
}

.post p {
  font-size: 13px;
  margin-bottom: 14px;
}

.post-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  padding: 5px;
}

.dropdown-date {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  cursor: pointer;
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-date > label {
  font-size: 12px;
}

#start, #end {
  font-size: 11px;
}

.dropdown-date > input {
  float: right;
}

.dropdown-date input:hover {
  cursor: pointer;
  background-color: #1469f1;
  color: #fff;
}

.dropdown-date > button {
  background-color: #1469f1;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
  justify-content: center;
}

.remove-btn {
  color: white;
  background-color: #807e7e;
  border: none;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #1469f1;
  transition: 0.3s ease;
}

.skills-input {
  float: right;
  margin-top: -30px;
}
/* main content stlying end */



/* right sidebar start */
.right-sidebar {
  position: fixed;
  padding-left: 1vw;
  width: 200px;
  top: 90px;
  margin-left: 75%;
}

.right-sidebar > div {
  background-color: white;
  border-radius: 10px;
  border: 0.5px solid grey;
}

.sidebar-news {
  background: white;
  padding: 10px;
}

.info-icon {
  width: 15px;
  float: right;
  margin-top: 10px;
}

.sidebar-news h3 {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin: 10px 0 30px;
}

.sidebar-news a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: -2px;
}

.sidebar-news span {
  font-size: 12px;
}

.sidebar-news .read-more-link {
  color: #1469f1;
  font-weight: 400;
  margin: 20px 0 10px;
}

.sidebar-ad {
  background: white;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}

.sidebar-ad img {
  width: 60px;
  border-radius: 50%;
  margin: 4px;
}

.sidebar-ad small {
  float: right;
  font-weight: 400;
}

.sidebar-ad p {
  margin-top: 30px;
  margin-bottom: 10px;
}

.sidebar-ad b {
  display: block;
  font-weight: 400;
  margin-top: 10px;
}

.ad-link {
  display: inline-block;
  border: 1px solid #1469f1;
  color:#1469f1;
  padding: 5px 15px;
  border-radius: 30px;
  font-weight: 400;
  margin: 20px auto 10px;
}

.sidebar-useful-links {
  padding: 15px 25px;
  text-align: center;
}

.sidebar-useful-links a {
  display: inline-block;
  font-size: 13px;
  margin: 2px 10px 0 0;
}

.copyright-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 400;
}

.copyright-msg img {
  width: 20px;
  margin-right: 4px;
}

.refresh-popup {
  margin: 240px 45% 0 47%;
  background-color: rgb(42, 122, 241);
  border-radius: 3px;
  font-weight: 300;
  box-shadow: 2px 2px;
  height: 20px;
  width: 80px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(41, 138, 228);}

.dropdown-date a:hover {background-color: rgb(41, 138, 228);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-date {display: block;}

@media (min-width: 1624px) {
  .main-content {
    flex-basis: 700px;
    margin-left: 30%;
  }
  .left-sidebar {
    width: 300px;
  }
  .right-sidebar {
    width: 300px;
  }
}

@media (max-width: 1024px) {
    .search-box > input {
        width: 100px;
    }
    .navbar-center > ul > li {
      width: 70px;
    }
    .navbar-center > ul > li span {
      font-size: 10px;
    }
    .left-sidebar {
      padding-left: 50px;
      width: 190px;
    }
    .right-sidebar {
      padding-left: 50px;
    }
    .main-content {
      flex-basis: 340px;
      margin-left: 36%;
    }
}

@media (max-width: 767px) {
  .main-content {
    flex-basis: 100%;
    margin-left: 30px;
    margin-right: 30px;
  }
  .left-sidebar {
    display: none;
  }
  .right-sidebar {
    display: none;
  }
  .search-box > input {
    width: 8vw;
  }
  .navbar-center > ul > li {
    width: 40px;
  }
  .navbar-center > ul > li span {
    display: none;
  }
  .navbar-center > ul > li img {
    margin-top: 10px;
  }
}